.vscode
.DS_Store
.venv
venv/
*~
*.pyc
datasets
.env
.env.*
!.env.example
build
**/build
build
okex
attic
*.tmp
deribit_data/
%OUTDIR%/
publications/
**/*.synctex.gz
tardis/lib/okex-options_quotes_2025-11-01_OPTIONS_1min.parquet
tardis/lib/okex-options_quotes_2025-11-01_OPTIONS_5min.parquet
tardis/lib/okex-options_quotes_2025-11-01_OPTIONS.csv.gz
tardis/lib/okex-options_quotes_2025-11-01_OPTIONS.parquet
tmp
tmp.parquet
.pytest_cache/
